#banner {
  /* position: relative; */
  width: 100%;
  height: 500px;
  left: 0px;
  color: #F5F5F5;
  text-align: center;
  background-color: #4285F4;
  font-family: 'Sail', cursive;
  font-size: 100px;
}

#project-load {
  background-color: #F5F5F5;
  padding: 10px;
}