#img-editor {
  position: relative;
  background-color: #28292b;
  border: 10px solid #5e6469;
}

mat-drawer-content{
  position: relative;
}

#stage {
  margin-top: 5%;
  position: relative;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  margin-bottom: 5%
}

canvas {
  position: absolute;
}

#mask-layer {
  z-index: 2;
}

#mask-layer:hover {
  cursor: none;
}

#image-layer {
  z-index: 1;
  background-color:white;
}

#cursor-layer {
  z-index: 3;
  pointer-events: none;
}

#toolbar {
  text-align: center;
  background-color: #3f4143;
  border-right: 10px solid #5e6469;
  color: white;
}

#mask-form {
  position: relative;
  color: black;
  padding: 5%;
}

.material-icons {
  position: relative;
  color: white;
  border: none;
}
.material-icons:hover {
  cursor: pointer;
}

#save {
  padding: 5%;
}
