#img-editor {
  position: relative;
  background-color: #28292b;
  border: 10px solid #5e6469;
  height: 100vh;
  width: 100%;
}

mat-drawer-content{
  position: relative;
}

#stage {
  top: 10%;
  position: relative;
  border: 2px solid black;
  margin-left: auto;
  margin-right:auto;
}

canvas {
  position: absolute;
}

#mask-layer {
  z-index: 2;
}

#mask-layer:hover {
  cursor: pointer;
}

#image-layer {
  z-index: 1;
  background-color:white;
}

#toolbar {
  padding-top: 100px;
  text-align: center;
  background-color: #3f4143;
  border-right: 10px solid #5e6469;
}

#mask-form {
  position: relative;
  color: black;
  padding: 5%;
}

.material-icons {
  position: relative;
  color: white;
  border: none;
  /* width: 5%; */
}
.material-icons:hover {
  cursor: pointer;
}

#save {
  padding: 5%;
}