<!-- Form to save Mask -->
<form novalidate [formGroup]="uploadMaskForm" (ngSubmit)="onSubmit()"  
      *ngIf="displayMaskForm" method="POST" enctype="multipart/form-data" id="mask-form">
  <mat-form-field appearance="fill">
    <mat-label>Mask Name</mat-label>
    <input required matInput formControlName="maskName" placeholder="Mask Name"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mask Labels</mat-label>
    <input matInput formControlName="labels" placeholder="Labels (optional)"/>
    <mat-hint>Enter list seperated by commas: "Label 1, Label 2, Label 3"</mat-hint>
  </mat-form-field>
  <button [disabled]="disableSubmit" type="submit" mat-button style="background-color:white padding:2%" id="save">Save Mask</button>
</form>

<!-- Editor -->
<mat-drawer-container id="img-editor">
  <mat-drawer id="toolbar" mode="side" opened>
    <app-toolbar 
      (clearMaskEvent)="clearMask()"
      (newToleranceEvent)="updateTolerance($event)"
      (newMaskToolEvent)="updateMaskTool($event)"
      (invertMaskEvent)="invertMask()">
    </app-toolbar>
  </mat-drawer>
  <mat-drawer-content>
      <!-- Retrieves new mask via output event emiter -->
    <canvas #canvas appMask 
      [originalImageData]="originalImageData"
      [scale]="scaleFactor"
      [tolerance]="tolerance"
      [disable]="disableFloodFill"
      (newMaskEvent)="addToMask($event)">
    </canvas>
    <canvas #maskCanvas style="display:none">
    </canvas>
  </mat-drawer-content>
</mat-drawer-container>