<!-- Form to save Mask -->
<form novalidate [formGroup]="uploadMaskForm" (ngSubmit)="onSubmit()"  
      *ngIf="displayMaskForm" method="POST" enctype="multipart/form-data" id="mask-form">
  <mat-form-field appearance="fill">
    <mat-label>Mask Name</mat-label>
    <input required matInput formControlName="maskName" placeholder="Mask Name"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mask Labels</mat-label>
    <input matInput formControlName="labels" placeholder="Labels (optional)"/>
    <mat-hint>Enter list seperated by commas: "Label 1, Label 2, Label 3"</mat-hint>
  </mat-form-field>
  <button [disabled]="disableSubmit" type="submit" mat-button style="background-color:white padding:2%" id="save">Save Mask</button>
</form>

<!-- Editor -->
<mat-drawer-container id="img-editor">
  <mat-drawer id="toolbar" mode="side" opened>
    <app-toolbar 
      (clearMaskEvent)="clearMask()"
      (newMaskToolEvent)="updateMaskTool($event)"
      (invertMaskEvent)="invertMask()"
      (newToleranceEvent)="updateTolerance($event)"
      (newMaskAlphaEvent)="updateMaskAlpha($event)">
    </app-toolbar>
  </mat-drawer>

  <mat-drawer-content>
    <div>
      <span (click)="newImage(true)" class="material-icons" title="Previous Image">navigate_before</span>
      <span (click)="newImage(false)" class="material-icons" title="Next Image">navigate_next</span>
    </div>
      <!-- Retrieves new mask via output event emiter -->
    <div id="stage">
      <canvas #canvas appMask id="mask-layer"
        [originalImageData]="originalImageData"
        [scale]="scaleFactor"
        [tolerance]="tolerance"
        [disableFloodFill]="disableFloodFill"
        [tool]="maskTool"
        (newMaskEvent)="addToMask($event)"
        (newPaintEvent)="drawPixel($event)">
      </canvas>
      <canvas #imageCanvas id="image-layer">
      </canvas>
      <canvas #maskCanvas style="display:none">
      </canvas>
    </div>
  </mat-drawer-content>
</mat-drawer-container>