#img-editor {
  position: relative;
  text-align: center;
  top: 100px;
  padding-bottom: 200px;
  padding-top: 200px;
  background-color: #28292b;
  border: 10px solid #5e6469;
}

mat-drawer-content{
  position: relative;
}

#stage {
  position: relative;
  border: 2px solid black;
  text-align: center;
}

canvas {
  position: relative;
}

#mask-layer {
  z-index: 2;
}
#image-layer {
  z-index: 1;
}

canvas:hover {
  cursor: pointer;
}

#toolbar {
  padding-top: 100px;
  text-align: center;
  background-color: #3f4143;
  border-right: 10px solid #5e6469;
}

#mask-form {
  position: relative;
  color: black;
  background-color: #F5F5F5;
  padding: 20px;
  height: 120px;
  width: 100%;
  top: 20px;
}

.material-icons {
  position: relative;
  color: white;
  border: none;
  width: 5%;
}
.material-icons:hover {
  cursor: pointer;
}