<!-- Single use buttons -->
<div id="single-click-buttons">
  <div class="icon">
    <mat-icon class="button" title="Previous Image    ←" (click)="switchImage(true)">navigate_before</mat-icon>
    <p>Previous Image</p>
  </div>
  <div class="icon">
    <mat-icon class="button" title="Next Image    →" (click)="switchImage(false)">navigate_next</mat-icon>
    <p>Next Image</p>
  </div>
  <div class="icon">
    <mat-icon class="button" title="Invert Mask    I" (click)="invertMask()">invert_colors</mat-icon>
    <p>Invert Mask</p>
  </div>
  <div class="icon">
    <mat-icon class="button" title="Undo    Ctrl+Z" (click)="undoRedo('undo')">undo</mat-icon>
    <p>Undo</p>
  </div>
  <div class="icon">
    <mat-icon class="button" title="Redo    Ctrl+Y" (click)="undoRedo('redo')">redo</mat-icon>
    <p>Redo</p>
  </div>
  <div class="icon">
    <mat-icon class="button" title="Clear Mask    C" (click)="clearMask()">clear</mat-icon>
    <p>Clear Mask</p>
  </div>
  <span style="display: inline; width:100%; height:100%; color:white left:5%"> 
    Tolerance
    <mat-slider 
      title="Mask Tolerance    ↓1  2↑"  
      (change)="updateTolerance()"
      min="1" max="420" step="1" [(ngModel)]="toleranceValue">
    </mat-slider>
    <mat-form-field class="slider-value">
      <mat-label style="color=white">Tolerance</mat-label>
      <input
        (change)="updateTolerance()" 
        matInput type="number" 
        [(ngModel)]="toleranceValue" 
        style="color=white">
    </mat-form-field>
  </span>
</div>
