#upload-image-form {
  position: relative;
  color: black;
  background-color: #F5F5F5;
  width: 70%;
  left: 15%;
  top: 100px;
  padding: 10px;
}

.user-input {
  position: relative;
  width: 300px;
}

#upload-button {
  background-color: #91BFFF;
  color: white;
}

#gallery {
  position: relative;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5vw;
  padding: .5vw;
  top: 200px;
  left: 15%;
  width: 70%;
  border-style: solid;
}

.gallery-item {
  border-style: solid;
  padding: 5px;
  padding-bottom: 20px;
  border-radius: 15px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.gallery-img:hover {
  opacity: .8;
}

.hidden {
  display: none;
}

/* describes div tag below images and masks*/
.mask-image-tag {
  width: 100%;
  height: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding: 2px;
  bottom: 1px;
  background-color: #F5F5F5;
}