<p>gallery works!</p>
<div id="gallery">
  <div class="gallery-item">
    <a href="/editor">
      <img class="gallery-img" src="assets/images/pic1.jpg" alt="beach">
    </a>
  </div>
  <div class="gallery-item">
    <a href="/editor">
      <img class="gallery-img" src="assets/images/pic2.jpg" alt="city">
    </a>
  </div>
  <div class="gallery-item">
    <a href="/editor">
      <img class="gallery-img" src="assets/images/pic3.jpg" alt="water">
    </a>
  </div>
  <div class="gallery-item">
    <a href="/editor">
      <img class="gallery-img" src="assets/images/pic4.jpg" alt="river">
    </a>
  </div>
  <div class="gallery-item">
    <a href="/editor">
      <img class="gallery-img" src="assets/images/pic5.jpg" alt="Angular Logo">
    </a>
  </div>
  <div class="gallery-item">
    <a href="/editor">
      <img class="gallery-img" src="assets/images/pic6.jpg" alt="Java Logo">
    </a>
  </div>
  <div class="gallery-item">
    <a href="/editor">
      <img class="gallery-img" src="assets/images/pic7.jpg" alt="Google Earth Logo">
    </a>
  </div>
  <div class="gallery-item">
    <a href="/editor">
      <img class="gallery-img" src="assets/images/pic8.jpg" alt="Typescript Logo">
    </a>
  </div>
</div>