/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
@font-face {
  font-family: 'Sail', cursive;
  src: url("https://fonts.googleapis.com/css2?family=Sail&display=swap");
}
>>>>>>> c9013bdbb5a1d6528acac6857bff1c1ca4fc97ee
