@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Sail', cursive;
  src: url("https://fonts.googleapis.com/css2?family=Sail&display=swap");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
