<!-- Toggle buttons -->
<mat-button-toggle-group 
  #group="matButtonToggleGroup" 
  vertical style="border:none" 
  [value]="maskTool" (change)="updateTool(group.value)">
  <mat-button-toggle mat-icon-button value="MAGIC-WAND" title="Magic Wand">
    <mat-icon>format_color_fill</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle mat-icon-button value="PAINT" title="Paint Mask">
    <mat-icon>brush</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle mat-icon-button value="MASK-ONLY" title="Mask Only">
    <mat-icon>image</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<div class="large-break"></div>

<!-- Single use buttons -->
<div id="single-click-buttons">
  <mat-icon class="button" title="Invert Mask" (click)="invertMask()">invert_colors</mat-icon>
  <div class="small-break"></div>
  <mat-icon class="button" title="Clear Mask" (click)="clearMask()">clear</mat-icon>
</div>
<div class="large-break"></div>

<div class="small-break"></div>

<!-- Sliders -->
<div>
  <p style="color:white">Tolerance</p>
  <mat-slider 
    title="Mask Tolerance"  
    (change)="updateTolerance()"
    vertical min="1" max="127.5" step=".5" [(ngModel)]="toleranceValue">
  </mat-slider>
  <br/>
  <mat-form-field class="slider-value">
    <mat-label style="color=white">Tolerance</mat-label>
    <input matInput type="number" [(ngModel)]="toleranceValue" style="color=white">
  </mat-form-field>
  <br/>
  <p style="color:white">Tint</p>
  <mat-slider 
    title="Mask Tint"  
    (change)="updateTint()"
    vertical min=".01" max="1" step=".01" [(ngModel)]="tintValue">
  </mat-slider>
  <br/>
  <mat-form-field class="slider-value">
    <mat-label style="color=white">Tint</mat-label>
    <input matInput type="number" [(ngModel)]="tintValue" style="color=white">
  </mat-form-field>
</div>