.material-icons { 
  font-size: 48px; 
}

.button {
  color: white;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 100%;
  padding: 10px;
  top: 5%;
  left: 0;
  margin: 0;
}

p {
  margin: 0;
}

.button:hover {
  background-color: #28292b;
  color: #cdd1d3;
}

.mat-button-toggle {
  border: none;
  color: white;
  text-align: center;
  background-color: #3f4143;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mat-button-toggle-checked{
  border: none;
  color: #cdd1d3;
  background-color: #28292b;
}

.large-break {
  height: 30px;
  width: 100%;
  border-top: 3px solid #5e6469;
  border-bottom: 3px solid #5e6469;
}

.small-break {
  height: 10px;
  width: 100%;
}

.slider-value {
  width: 50px;
}