<mat-button-toggle-group vertical style="border:none">
  <mat-button-toggle mat-icon-button value="magic-wand" title="Magic Wand">
    <mat-icon>format_color_fill</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<div class="large-break"></div>

<div id="single-click-buttons">
  <mat-icon class="button" title="Invert Mask">invert_colors</mat-icon>
  <div class="small-break"></div>
  <mat-icon class="button" title="Clear Mask" (click)="clearMask()">clear</mat-icon>
</div>
<div class="large-break"></div>

<div class="small-break"></div>

<div>
  <mat-slider 
    title="Mask Tolerance"  
    (change)="updateTolerance()"
    vertical min="1" max="127.5" step=".5" [(ngModel)]="value">
  </mat-slider>
  <br/>
  <mat-form-field>
    <mat-label>Tolerance</mat-label>
    <input matInput type="number" [(ngModel)]="value" width="10px">
  </mat-form-field>
</div>